fastapi
uvicorn
yfinance
langchain
langchain-groq
langgraph
pydantic
python-dotenv
beautifulsoup4
requests
qdrant-client
langchain-huggingface
sentence-transformers
duckduckgo-search
pypdf
langchain-text-splitters
langchain-community
